.body{
    text-align: center;
}
#la15{
    width: 40px;
}
#la25{
    width: 40px;
}
#la35{
    width: 40px;
}
#la45{
    width: 40px;
}
#la55{
    width: 40px;
}
#la65{
    width: 40px;
}
#la75{
    width: 40px;
}
#la85{
    width: 40px;
}
#la95{
    width: 40px;
}
#la105{
    width: 40px;
}
#la115{
    width: 40px;
}
#la125{
    width: 40px;
}
#la135{
    width: 40px;
}
#la145{
    width: 40px;
}
#la155{
    width: 40px;
}
#la165{
    width: 40px;
}
#la175{
    width: 40px;
}
#la185{
    width: 40px;
}
#la195{
    width: 40px;
}
#la205{
    width: 40px;
}
#la215{
    width: 40px;
}
#la225{
    width: 40px;
}
#la235{
    width: 40px;
}
#la245{
    width: 40px;
}
#la255{
    width: 40px;
}
#la265{
    width: 40px;
}
#la275{
    width: 40px;
}
#la285{
    width: 40px;
}
#la295{
    width: 40px;
}
#la305{
    width: 40px;
}
#la315{
    width: 40px;
}
#la16{
    width: 40px;
}
#la26{
    width: 40px;
}
#la36{
    width: 40px;
}
#la46{
    width: 40px;
}
#la56{
    width: 40px;
}
#la66{
    width: 40px;
}
#la76{
    width: 40px;
}
#la86{
    width: 40px;
}
#la96{
    width: 40px;
}
#la106{
    width: 40px;
}
#la116{
    width: 40px;
}
#la126{
    width: 40px;
}
#la136{
    width: 40px;
}
#la146{
    width: 40px;
}
#la156{
    width: 40px;
}
#la166{
    width: 40px;
}
#la176{
    width: 40px;
}
#la186{
    width: 40px;
}
#la196{
    width: 40px;
}
#la206{
    width: 40px;
}
#la216{
    width: 40px;
}
#la226{
    width: 40px;
}
#la236{
    width: 40px;
}
#la246{
    width: 40px;
}
#la256{
    width: 40px;
}
#la266{
    width: 40px;
}
#la276{
    width: 40px;
}
#la286{
    width: 40px;
}
#la296{
    width: 40px;
}
#la306{
    width: 40px;
}
#la316{
    width: 40px;
}
.qs{
    text-align: center;
}
.qs1{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.qs2{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-top: 40px;
}
.qs3{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.sig12{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sig22{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    font-size: 10px;
}
.qs{
    width: 780px;
    height: 35px;
    margin: auto;
    margin-top: 10px;
}
.qs1{
    width: 35%;
    height: 35px;
    border: 1px black solid;
    float: left;
}
.qs1{
    width: 31%;
    height: 35px;
    border: 1px black solid;
    float: left;
}
.qs2{
    width: 25%;
    height: 35px;
    border: 1px black solid;
    float: left;
}
.qs3{
    width: 31%;
    height: 35px;
    border: 1px black solid;
    float: right;
}
#rmain2{
    display: none;
    width: 760px;
    height: 50px;
    margin: auto;
}
.img{
    float: inline-end;
    margin-bottom: 0%;
}
.main2{
    width: 780px;
    height: 880px;
    border-top: 1px black solid;
    border-left: 1px black solid ;
    border-right: 1px black solid ;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: none;
}
.row1{
    height: 40px;
    width: 782px;
    margin-bottom: 4px;
}
.pti{
    width: 3.6%;
    height: 41px;
    float: left;
}
.ti{
    width: 100%;
    height: 41px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lav{
    height: 40px;
    width: 22.45%;
    float: left; 
}
.ti2{
    width: 100%;
    height: 20px;
    border: 1px black solid;
}
.ti3{
    width: 100%;
    height: 20.4px;
}
.cls{
    height: 20.4px;
    width: 48.8%;
    float: left;
    border: 1px black solid;
}
.menu{
    height: 40.9px;
    width: 28.7%;
    border: 1px black solid;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    width: 786px;
    height: 22px;
}
.coln{
    width: 3.5%;
    height: 22px;
    float: left;
    border: 1px black solid;
}
.col1{
    width: 10.8%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.col2{
    width: 10.8%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.col3{
    width: 10.8%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.col4{
    width: 10.8%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.col5{
    width: 10.9%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.col6{
    width: 10.8%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.col7{
    width: 28.9%;
    height: 22px;
    border: 1px black solid;
    float: left;
    color: blue;
}
.note{
    width: 780px;
    height: 20px;
    text-align: left;
}
.las{
    width: 780px;
    height: 20px;
    border: 1px black solid;
    float: left;
    margin-top: 17px;
    text-align: left;
}
.mlas{
    width: 786px;
    height: 20px; 
}
.las1{
    width: 13.4%;
    height: 20px;
    border: 1px black solid;
    float: left; 
}
.las2{
    width: 17.34%;
    height: 20px;
    border: 1px black solid;
    float: left; 
}
.nlas{
    width: 786px;
    height: 20px; 
}
.nas1{
    width: 13.4%;
    height: 20px;
    border: 1px black solid;
    float: left; 
}
.nas2{
    width: 17.34%;
    height: 20px;
    border: 1px black solid;
    float: left; 
}
.sig{
    width: 782px;
    height: 35px;
}
.sig2{
    width: 782px;
    height: 35px;

}
.sig1{
    width: 31.2%;
    height: 35px;
    float: left;
    border: 1px black solid;
}
.sig12{
    width: 31.2%;
    height: 35px;
    float: left;
    border: 1px black solid;
}
.sig21{
    width: 41.3%;
    height: 35px;
    float: right;
    border: 1px black solid;
}
.sig22{
    width: 41.3%;
    height: 35px;
    float: right;
    border: 1px black solid;
}